.code_block {
  position: relative;

  select {
    position: absolute;
    right: 5px;
    top: 6px;
    outline: none !important;
    -webkit-appearance: none;
    padding: 1px 6px 3px 6px;
    opacity: 0.8;
    border-radius: 5px;
    color: #fff;
    background: #0d0d0d;
    cursor: pointer;
    font-family: var(--font-family-sans-serif);
    font-size: 12px;
    transition: all 50ms ease;

    &:hover {
      opacity: 1;
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}
