:root {
  --background-color: #fafafa;
  --text-color: #323232;
  --title-color: #5f5f5f;
  --border-color: #e8e8e8;

  // state colors
  --success-color: #77BFA3;
  --error-color: #ED254E;
  --warning-color: #35342e;

  --primary-color: #011936;

  --font-family-monospace: "Fira Code", monospace;
  --font-family-sans-serif: "Source Sans Pro", sans-serif;
}
